# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*.swo

# Node (por si más adelante agregas build)
node_modules/
npm-debug.log
yarn-error.log

# Vercel
.vercel/

# Env / secretos (NUNCA commitear)
.env
.env.local
.env.*.local
*.secret
SECRETS*

.vercel
